<a href="https://colab.research.google.com/github/tonytsai5583/colab20230703/blob/main/classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()
#Dataframe(2D) or Series(1D)
data = pd.DataFrame(iris["data"], columns=iris["feature_names"])
data["ans"] = iris["target"]
data

In [8]:
from sklearn.model_selection import train_test_split
x = data.drop("ans",axis=1)
y = data["ans"]
train_test_split(x,y,test_size=1)
#[90% x, 10% y, 90% x, 10% y]

[     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
 68                 6.2               2.2                4.5               1.5
 79                 5.7               2.6                3.5               1.0
 145                6.7               3.0                5.2               2.3
 69                 5.6               2.5                3.9               1.1
 1                  4.9               3.0                1.4               0.2
 ..                 ...               ...                ...               ...
 52                 6.9               3.1                4.9               1.5
 36                 5.5               3.5                1.3               0.2
 17                 5.1               3.5                1.4               0.3
 49                 5.0               3.3                1.4               0.2
 113                5.7               2.5                5.0               2.0

 [149 rows x 4 columns],
      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
 141                6.9               3.1                5.1               2.3,
 68     1
 79     1
 145    2
 69     1
 1      0
       ..
 52     1
 36     0
 17     0
 49     0
 113    2
 Name: ans, Length: 149, dtype: int64,
 141    2
 Name: ans, dtype: int64]